<a href="https://colab.research.google.com/github/noufal1169/makaan.com-web-scrapping/blob/main/Makaan_com_Real_Estate_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing all the needed modules

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

Base url of the web page

In [2]:
base_url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page='

In [3]:
ow = []
bhk = []
p = []
s = []
loc = []
st = []
pps = []

In [4]:
for i in range(1,51):
  time.sleep(3)   # to give a pause between each requests
  url = base_url+str(i)
  req = requests.get(url)
  soup = BeautifulSoup(req.text,'html')

  #owner info
  ow_info = soup.findAll('span',attrs={'class':'seller-type'})
  for j in ow_info:
    ow.append(j.text)
  
  #bhk info
  bhk_info = soup.findAll('div',attrs={'class':'title-line'})
  for j in bhk_info:
    bhk.append(j.strong.span.text)

  #price info
  p_info = soup.findAll('div',attrs={'data-type':'price-link'})
  for  j in p_info:
    p.append(j.text)
  
  #size info
  s_info = soup.findAll("td",attrs={'class':'size'})
  for j in s_info:
    s.append(j.text)
  
  #location info
  loc_info = soup.findAll('span',attrs={'itemprop':'addressLocality'})
  for j in loc_info:
    loc.append(j.text)
  
  #status info
  st_info = soup.findAll('tr',attrs={'class':'hcol w44'})
  for j in st_info:
    st.append(j.text)

  #price per sqft info
  pps_info = soup.findAll('td',attrs={'class':'lbl rate'})
  for j in pps_info:
    pps.append(j.text)

To make a data frame,
  Cross checking the number of data for each columns are same.

In [5]:
print('ow = ',len(ow))
print('bhk = ',len(bhk))
print('p = ',len(p))
print('s = ',len(s))
print('loc = ',len(loc))
print('st = ',len(st))
print('pps = ',len(pps))

ow =  1000
bhk =  1000
p =  1000
s =  1000
loc =  1000
st =  1000
pps =  1000

Making a data frame in tabular form using pandas

In [6]:
data = pd.DataFrame({'OWNER INFO':ow,
                     'BHK':bhk,
                     'PRICE':p,
                     'SIZE':s,
                     'LOCATION':loc,
                     'STATUS':st,
                     'PRICE PER SQ.FT':pps})
data

    OWNER INFO BHK  ...                                 STATUS PRICE PER SQ.FT
0      BUILDER  3   ...  Under ConstructionConstruction Status   5,699 / sq ft
1      BUILDER  2   ...       Ready to moveConstruction Status   9,565 / sq ft
2      BUILDER  2   ...  Under ConstructionConstruction Status   4,400 / sq ft
3      BUILDER  2   ...  Under ConstructionConstruction Status   4,899 / sq ft
4      BUILDER  3   ...  Under ConstructionConstruction Status   4,600 / sq ft
..         ...  ..  ...                                    ...             ...
995      OWNER  3   ...       Ready to moveConstruction Status   6,000 / sq ft
996      OWNER  3   ...       Ready to moveConstruction Status   6,000 / sq ft
997      OWNER  3   ...       Ready to moveConstruction Status   6,000 / sq ft
998      OWNER  2   ...       Ready to moveConstruction Status   6,075 / sq ft
999      OWNER  3   ...  Under ConstructionConstruction Status  12,812 / sq ft

[1000 rows x 7 columns]

Creating a csv file of the collected data

In [7]:
data.to_csv('50 page apartment details.csv',index=False)